.map_box{
    margin: 20px 0px;
}
#map_info{
    width:70%;
    margin:auto;
    margin-top:10px;
}
#daumRoughmapContainer1695985484034{
    margin:auto;
    width:90vw
}
.map_info_cont{
    display: flex;
}
.way{
    display: flex;
    margin-top: 10px;
}
.way div{
    width:50%;
}
.address{
    font-size:20px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.loc_img{
    width:50px;
    margin-right: 10px;
}
.map_info_cont p{
    display: flex;
    flex-direction: column;
}
.map_info_cont span{
    font-size:19px;
}
#parking{
    font-size:14px;
}
@media screen and (max-width : 920px) {
    .way {
        display: flex;
        flex-direction: column;
    }
    .way div{
        width:100%;
    }
}
@media screen and (max-width : 600px) {
    #map_info{
        width:90%;
    }
    .loc_img{
        width:15%;
        margin-right: 10px;
    }
    .map_info_cont p{
        width:85%;
    }
}