<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="앙팡리뵈어, 여의도, 어린이집, 여의도 어린이집, 유아학원, 학원, 유아, 놀이, 영등포 놀이학원, 영등포, 학원, 영유아, 여의도 유아">
    <meta name="description" content="꿈꾸는 아이들 앙팡리뵈어입니다.">
    <meta name="author" content="enfant-reveur">
    <meta name="robots" content="index,follow">
    <meta http-equiv="Copyright" content="enfant-reveur" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="enfant-reveur">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:title" content="앙팡리뵈어">
    <meta property="og:url" content="https://www.enfant-reveur.co.kr/">
    <meta property="og:image" content="https://www.enfant-reveur.co.kr/src/img/logo/og_image.jpg">
    <title>enfant rêveur</title>
    <link rel="icon" href="/fabicon.ico">
    <link href="/src/all.css" rel="stylesheet">
    <link href="/src/nmstyle.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
</head>

<body>
    <header id="header">
    </header>
    <div class="body">
        <div class="main enfantBack">
            <section>
                <div class="content_box">
                    <div class="view_box">
                        <div class="view_box_top">
                            <h1 id="view_box_top_title"></h1>
                            <div class="view_box_top_info">
                                <div class="view_box_top_author">
                                    <img src="/src/img/logo/logo_left.png" id="author_img">
                                    <p id="author_name"></p>
                                </div>
                                <div class="pressTime_box">
                                    <p id="pressTime"></p>
                                    <p id="view"></p>
                                </div>
                            </div>
                        </div>
                        <div id="view_content_box">

                        </div>
                    </div>
                    <div class="insideLink">
                        <a href="/announce/">공지사항 목록</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer id="footer">
    </footer>
</body>
<script src="/src/js/navbar/navbar.js"></script>
<script src="/src/js/footer/footer.js"></script>
<script src="./view.mjs" type="module"></script>

</html>